body {
    background-color: #F5F5F5;
}

body > h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}

.humanScoreCard, .computerScoreCard{
    display: flex;
    background-color:blanchedalmond;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 300px;
}

.humanScoreCard > *, .computerScoreCard > * {
    margin: 10px;
}


.scorecard > .score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
@media screen and (max-width: 1810px) {
    .optionsContainer {
        display: flex;
        justify-content: center;
    }
    .options {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        gap: 20px 50px;
    }
}
.options > * {
    background-color:#FB9E3A;
    border: 1px solid black;
    font-size: 50px;
    /* min-width: 600px; */
    /* width: 30%; */
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

.score {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.score p {
    font-size: 30px;
}

.img {
    height: 100%;
}

.options> div:hover {
    background-color: E6521F;
}

.resultsDiv > * {
    font-size: 40px;
    text-align: center;
}
